upstream {{system_name}} {
    server 127.0.0.1:{{system_internal_port}};
}

# the nginx server instance
server {
    server_name {{system_external_host}};

{% if use_secure_http %}
    listen {{system_external_port}} ssl;
    ssl_certificate {{nginx_home}}/ssl/{{certificate_crt_filename}};
    ssl_certificate_key {{nginx_home}}/ssl/{{certificate_key_filename}};
{% else %}
    listen {{system_external_port}};
{% endif %}

    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_set_header X-NginX-Proxy true;

{% if remove_frame_options_headers %}
        proxy_hide_header X-Frame-Options;
{% endif %}

{% if add_cors_headers %}
        add_header 'Access-Control-Allow-Origin' '*';
{% endif %}

        proxy_read_timeout 120s;

        access_log /var/log/nginx/{{system_name}}_access.log;
        proxy_pass http://{{system_name}};
        proxy_redirect off;
    }
}

{% if system_external_port != 80 and use_secure_http %}
server {
    server_name {{system_external_host}};
    listen 80;
    listen [::]:80;
    return 301 https://$server_name$request_uri;
}
{% endif %}
