(function (window) {
    window.__env = window.__env || {};

    // settings
    window.__env.oauthPersonaAuthenticationUrl = "{{auth_server_external_url}}/static/auth/index.html";
    window.__env.defaultServiceUrl = "{{api_dstu2_server_external_url}}/hspc/data";
    window.__env.baseServiceUrl = "{{api_dstu2_server_external_url}}/";
    window.__env.oauthLogoutUrl = "{{auth_server_external_url}}/logout";
    window.__env.userManagementUrl = "{{account_server_external_url}}";
    window.__env.sandboxManagerRESTUrl = "{{sandman_server_external_url}}/REST";
    window.__env.personaCookieDomain = "{{auth_server_persona_cookie_domain}}";
    window.__env.personaCookieName = "hspc-persona-token";
    window.__env.personaCookieTimeout = 180000;
    window.__env.hspcAccountCookieName = "hspc-token";
    window.__env.firebase = {
        "apiKey": "{{firebase_apiKey}}",
        "authDomain": "{{firebase_projectId}}.firebaseapp.com",
        "databaseURL": "https://{{firebase_projectId}}.firebaseio.com",
        "storageBucket": "{{firebase_projectId}}.appspot.com"
    }

}(this));
